/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Media Queries */

/* General Adjustments for Smaller Screens */
/* Pad the timer so that it does not overlap the option button */
/* Reduce timer text with decreasing size */
/* Make the settings modal and the help modal responsive with the screen */
/* 640 below start making the buttons and the timer small  */
/* 460 stack the buttons vertically and make the timer smaller */

/* Media Queries */

/* Scale down the entire UI when the width is between 640px and 900px */
@media (max-width: 640px) and (min-width: 460px) {
  #timer-container {
    transform: scale(0.8);
    max-height: 160px;
    position: relative;
    top: 10px;
  }

  #option-btn {
    position: fixed;
  }
}

/* Stack interval buttons vertically and make the timer smaller when width is below 460px */
@media (max-width: 460px) {
  #interval-btn-container {
    transform: scale(0.9);
    transform-origin: (0, 0);
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
  }

  #timer-container {
    transform: scale(0.6);
    max-height: 140px;
    position: relative;
    top: 15px;
  }

  #option-btn {
    position: fixed;
  }

  #start-stop-btn,
  .interval-btn,
  .round-btn {
    transform: scale(0.9);
    transform-origin: (0, 0);
  }

  .modal-content {
    transform: scale(0.9);
    transform-origin: (0, 0);
  }

  .interval-btn.active,
  #start-stop-btn.active,
  #option-btn.active,
  #settings-btn.active,
  #help-btn.active,
  #help-btn.active {
    transform: scale(1);
  }
}

/* Container Styles */

/* Main/Pomodoro Container */
#pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  /* flex-wrap: wrap; */
}

/* Interval Container */
#interval-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  position: relative;
}

/* Interval Buttons Container */
#interval-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
}

/* Timer Container */
#timer-container {
  position: relative;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border-color 0.2s ease-in-out;
  overflow: hidden;
  max-height: 180px;
  padding: 0px 20px;
}

/* Start/Stop and Options Container */
#start-stop-option-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

/* Start/Stop Container */
#start-stop-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

/* Option Container */
#option-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Container Effects */

/* Timer Container Hover Effect */
#timer-container:hover {
  border-color: black;
}

/* Modal Styles */

/* Settings Modal */
#settings-modal {
  z-index: 1;
  font-family: "Rubik";
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Option Modal */
#option-modal {
  position: absolute;
  bottom: 45px;
  flex-direction: column;
  align-items: flex-end;
  visibility: hidden;
  right: 0;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Help Modal */
#help-modal {
  z-index: 1;
  font-family: "Rubik";
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Effects */

/* Option Modal Effects */
#option-modal.show {
  visibility: visible;
  opacity: 1;
}

/* Modal Content Styles */

/* Settings & Help Modal Content Styles */
.modal-content {
  width: 60%;
  max-width: 400px;
  font-family: "Rubik";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f3;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/* Help Modal Content Styles */
.help-content {
  font-size: 16px;
  line-height: 1.5;
}

.help-content ul {
  list-style: none;
  padding-left: 0;
}

.help-content ul li {
  margin: 5px 0;
}

/* Settings Styles */

/* Settings Option Styles */
.setting-option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik";
  margin-bottom: 15px;
}

.setting-option label {
  flex: 1;
  text-align: left;
  align-items: center;
  font-family: "Rubik";
  margin-right: 10px;
}

.setting-option input[type="number"] {
  flex: 1;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 50px;
  margin-left: 10px;
}

.setting-option select {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  max-width: 160px;
  margin-left: 10px;
}

/* Settings Tab Navigation Styles */
#setting-tabs {
  display: flex;
  width: 90%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #f7f6f3;
  border: none;
  border-radius: 5px;
  /* border: 1px solid black; */
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.tab-button.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

/* Settings Tab Content */
.tab-content {
  display: none;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.tab-content.active {
  display: block;
}

/* Button Styles */

/* Interval Buttons, Start/Stop Button, and Option Button */
.interval-btn,
#start-stop-btn,
#option-btn {
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.313rem 0.5rem;
  text-align: center;
  transition: background 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Help Button, Reset Button, and Settings Button */
#help-btn,
#reset-btn,
#settings-btn {
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.313rem 0.5rem;
  text-align: center;
  transition: background 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Option Button, Settings Button, Reset Button and Help Button Round Effect */
.round-btn {
  width: 2.2rem;
  height: 2.2rem;
}

/* Save Button */
#save-btn {
  margin-top: 10px;
  width: 60%;
  font-family: "Rubik";
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Close Button Styles & Effects */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.close-btn:hover {
  transform: scale(1.1); 
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.close-btn:active {
  transform: scale(0.95);
  text-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); 
}

/* Toggle Switch Button Styles & Effects */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
}

.toggle-switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  max-width: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #010101;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Button Effects */

/* Button Hover Effects */
#reset-btn:hover,
#settings-btn:hover,
#option-btn:hover,
#help-btn:hover,
.interval-btn:not(.active):hover,
#start-stop-btn:not(.active):hover {
  background: linear-gradient(135deg, #4a4a4a, #1a1a1a);
  color: white;
  border-color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.02);
  transition: background 0.4s ease-in-out 0.1s, transform 0.2s ease-in-out;
}

/* Save Button Hover Effects */
#save-btn:hover {
  background-color: grey;
  color: white;
}

/* Button Press down/ Active Effects */
#help-btn:active,
#settings-btn:active,
#option-btn:active,
#reset-btn:active {
  transform: scale(0.95); /* Button "presses" down */
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Creates a pressed effect */
  background-color: #333; /* Optional: Darken the background */
  color: white; /* Keep text color visible */
}

/* Active State Button Effects */
.interval-btn.active,
#start-stop-btn.active,
#option-btn.active,
#settings-btn.active,
#help-btn.active,
#help-btn.active {
  background: linear-gradient(135deg, #4a4a4a, #1a1a1a);
  color: #f7f6f3;
  border-color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

/* Active state Button Hover Effects */
.interval-btn.active:hover,
#start-stop-btn.active:hover,
#option-btn.active:hover {
  background: linear-gradient(135deg, #5a5a5a, #2a2a2a); /* Lighter gradient for hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Enhanced shadow */
  transform: scale(1.05); /* Slightly more scaling on hover */
}

/* Button Focus/Keyboard Navigation Effects */
#start-stop-btn:focus-visible,
#option-btn:focus-visible,
#settings-btn:focus-visible,
#reset-btn:focus-visible,
#help-btn:focus-visible,
button:focus-visible {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1); /* Soft glow */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Optional thin border */
  border-radius: 50px;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; /* Smooth transition */
}

/* Active state Button Focus/Keyboard Navigation Effects */
#start-stop-btn.active:focus-visible,
button.active:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1); /* Soft glow */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Optional thin border */
  border-radius: 50px;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Miscellaneous Styles */

/* Footnote Styles */
.foot-note {
  text-align: center; 
  font-size: 0.8rem;
}

/* Profile for Footnoe Styles */
.profile {
  color: black;
}

/* (all) Button Pointer Styles */
button {    
  pointer-events:auto;
}

/* (all) Button Focus/Keyboard Navigation Effects */
button:focus {
  outline: none;
}

/* Custom Select Styles */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 10px;
  width: 60%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#time-left {
  font-family: "Karla", sans-serif;
  font-variant-numeric: tabular-nums; 
  font-size: 10.375rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: -5px;
  user-select: none;
  position: relative;
  z-index: 1;
  opacity: 1;
}

/* Animation Styles */

/* Ripple Effect/ Timer Reset Effect */
#ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0);
  z-index: 1;
  pointer-events: none;
}

@keyframes ripple-effect {
  0% {
    transform: scale(0);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }
  20% {
    transform: scale(20);
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.1);
  }
  60% {
    transform: scale(40);
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    transform: scale(100);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0); 
  }
}

#ripple.animate {
  animation: ripple-effect 2s ease-out;
}

/* Timer Fade Animations on Reset */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#time-left.fade-out {
  animation: fade-out 1.6s ease-out forwards;
}

#time-left.fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
