/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Container Styles */
#pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1.1rem;
  box-sizing: border-box;
  position: relative;
}

#interval-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  position: relative;
}

#interval-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
}

#start-stop-option-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

#start-stop-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

#option-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Timer Styles */
#timer-container {
  position: relative;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border-color 0.2s ease-in-out;
  overflow: hidden;
  max-height: 180px;
  padding: 0px 20px;
}

#timer-container:hover {
  border-color: black;
}

#time-left {
  font-family: "Karla", sans-serif;
  font-variant-numeric: tabular-nums; /* by https://stackoverflow.com/users/1913729/blex*/
  font-size: 10.375rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: -5px;
  user-select: none;
  position: relative;
  z-index: 1;
  opacity: 1;
}

/* Ripple Effect */
#ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0);
  z-index: 1;
  pointer-events: none;
}

@keyframes ripple-effect {
  0% {
    transform: scale(0);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }
  20% {
    transform: scale(20);
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.1);
  }
  60% {
    transform: scale(40);
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    transform: scale(100);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0); 
  }
}

#ripple.animate {
  animation: ripple-effect 2s ease-out;
}

/* Fade Animations */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#time-left.fade-out {
  animation: fade-out 1.6s ease-out forwards;
}

#time-left.fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

/* Button Styles */

/* Tab Navigation */

#setting-tabs {
  display: flex;
  width: 90%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #f7f6f3;
  border: none;
  border-radius: 5px;
  /* border: 1px solid black; */
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.tab-button.active {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

/* Tab Content */
.tab-content {
  display: none;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.tab-content.active {
  display: block;
}

.round-btn {
  width: 2.2rem;
  height: 2.2rem;
}

.round-btn:hover {
  transform: scale(1.03);
}

.interval-btn,
#start-stop-btn,
#reset-btn,
#settings-btn,
#option-btn,
#help-btn {
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.313rem 0.5rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.interval-btn:hover,
#start-stop-btn:hover,
#reset-btn:hover,
#settings-btn:hover,
#option-btn:hover,
#help-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}

/* Modal Styles */
#settings-modal {
  z-index: 1;
  font-family: "Rubik";
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 60%;
  max-width: 400px;
  font-family: "Rubik";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f3;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#option-modal {
  position: absolute;
  bottom: 45px;
  flex-direction: column;
  align-items: flex-end;
  visibility: hidden;
  right: 0;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#option-modal.show {
  visibility: visible;
  opacity: 1;
}

#total-pomodoro-time {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100px;
  margin-left: 10px;
}

/* Setting Styles */
.setting-option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik";
  margin-bottom: 15px;
}

.setting-wrapper {
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.setting-option label {
  flex: 1;
  text-align: left;
  align-items: center;
  font-family: "Rubik";
  margin-right: 10px;
}

.setting-option input[type="number"] {
  flex: 1;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 50px;
  margin-left: 10px;
}

.setting-option select {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  max-width: 160px;
  margin-left: 10px;
}

#save-btn {
  margin-top: 10px;
  width: 60%;
  font-family: "Rubik";
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#save-btn:hover {
  background-color: grey;
  color: white;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
}

.toggle-switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
  max-width: 40px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #010101;
}
input:checked + .slider:before {
  transform: translateX(20px);
}

/* Active States */
.interval-btn.active,
#start-stop-btn.active {
  background-color: grey;
  color: white;
  border-color: grey;
}

/* Footnote Styles */
.foot-note {
  text-align: center; 
  font-size: 0.8rem;
}

/* Profile for Footnoe Styles */
.profile {
  color: black;
}
button {
  pointer-events: auto;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 10px;
  width: 60%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
